In [1]:
import pandas as pd

In [2]:
#reading in list of good samples by sample/rep/segment
good = pd.read_csv('good_consesnsus.tsv', sep = '\t')
good

,sample_rep_segment,sample,rep,segment,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,be_w3_rep2_HA,NaN,NaN,NaN,NaN,NaN,NaN
1,be_w3_rep1_HA,NaN,NaN,NaN,NaN,NaN,NaN
2,rth_w2_rep2_HA,NaN,NaN,NaN,NaN,NaN,NaN
3,rth_w2_rep1_HA,NaN,NaN,NaN,NaN,NaN,NaN
4,cl_c2_rep1_HA,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
592,tv_w1_rep2_PB2,NaN,NaN,NaN,NaN,NaN,NaN
593,tv_w1_rep1_PB2,NaN,NaN,NaN,NaN,NaN,NaN
594,blvu_chester_rep2_PB2,NaN,NaN,NaN,NaN,NaN,NaN
595,bv_w7_rep2_PB2,NaN,NaN,NaN,NaN,NaN,NaN
596,bv_w7_rep1_PB2,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
good.columns

Index(['sample_rep_segment', 'sample', 'rep', 'segment'], dtype='object')

In [4]:
good = good.drop(['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'], axis=1)
good

        sample_rep_segment  sample  rep  segment
0            be_w3_rep2_HA     NaN  NaN      NaN
1            be_w3_rep1_HA     NaN  NaN      NaN
2           rth_w2_rep2_HA     NaN  NaN      NaN
3           rth_w2_rep1_HA     NaN  NaN      NaN
4            cl_c2_rep1_HA     NaN  NaN      NaN
..                     ...     ...  ...      ...
592         tv_w1_rep2_PB2     NaN  NaN      NaN
593         tv_w1_rep1_PB2     NaN  NaN      NaN
594  blvu_chester_rep2_PB2     NaN  NaN      NaN
595         bv_w7_rep2_PB2     NaN  NaN      NaN
596         bv_w7_rep1_PB2     NaN  NaN      NaN

[597 rows x 4 columns]

In [8]:
# good[['sample', 'rep', 'segment']] = good['sample_rep_segment'].str.split('_', expand=True)
# good
good[['sample', 'rep', 'segment']] = good['sample_rep_segment'].str.rsplit('_', n=2, expand=True)

good

        sample_rep_segment        sample   rep segment
0            be_w3_rep2_HA         be_w3  rep2      HA
1            be_w3_rep1_HA         be_w3  rep1      HA
2           rth_w2_rep2_HA        rth_w2  rep2      HA
3           rth_w2_rep1_HA        rth_w2  rep1      HA
4            cl_c2_rep1_HA         cl_c2  rep1      HA
..                     ...           ...   ...     ...
592         tv_w1_rep2_PB2         tv_w1  rep2     PB2
593         tv_w1_rep1_PB2         tv_w1  rep1     PB2
594  blvu_chester_rep2_PB2  blvu_chester  rep2     PB2
595         bv_w7_rep2_PB2         bv_w7  rep2     PB2
596         bv_w7_rep1_PB2         bv_w7  rep1     PB2

[597 rows x 4 columns]

In [9]:
good.to_csv('good_consensus_parsed.tsv', sep='\t', index=False)

In [10]:
# Value counts for the 'segment' column
segment_counts = good['segment'].value_counts()

# Value counts for the 'gene' column
sample_counts = good['sample'].value_counts()

# Display the results
print("Segment counts:")
print(segment_counts)

print("\nSample counts:")
print(sample_counts)

Segment counts:
segment
M      78
NS     78
NA     76
HA     74
PB2    74
PA     73
NP     72
PB1    72
Name: count, dtype: int64

Sample counts:
sample
be_w3           16
cg_w1           16
gf_w3           16
cb_com2         16
kc_com8         16
kc_com1         16
rth_w2          16
cb_com4         16
rth_w1          16
bo_w1           16
bv_w2           16
cb_com3         16
kc_com3         16
tv_w1           16
kc_com2         16
bv_w7           16
f_w1            16
cg_w2           15
g_com2          15
gf_w2           15
kc_com6         15
g_com1          15
kc_com4         15
bv_w8           15
bv_w3           15
cb_com1         15
bv_w6           15
bv_w1           14
be_w1           14
gf_w1           14
blvu_chester    13
ms_w2           13
wws_w1          13
kc_com5         13
ms_w1           13
rth_w3          12
bv_w4           10
blvu_adams       8
cl_c1            8
bv_w5            8
be_w2            8
rf_w1            7
cl_c2            7
Name: count, dtype: int64